DJANGO_SECRET_KEY="secret_key"
DJANGO_DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173

SAME_DOMAIN=False
CSRF_COOKIE_SAMESITE=None
SECURE_SSL_REDIRECT=False
CSRF_COOKIE_SECURE=False
CSRF_COOKIE_NAME=csrftoken
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_HTTPONLY=False

ACCESS_TOKEN_LIFETIME_MINUTES=60
REFRESH_TOKEN_LIFETIME_MINUTES=1200
ROTATE_REFRESH_TOKENS=True
BLACKLIST_AFTER_ROTATION=True
AUTH_COOKIE_SECURE=False
AUTH_COOKIE_SAMESITE=Lax
AUTH_COOKIE_HTTP_ONLY=True
AUTH_COOKIE_ACCESS=access_token
AUTH_COOKIE_REFRESH=refresh_token

DB_USER=postgres
DB_PASSWORD=secret
DB_HOST=db
DB_NAME_APP=test1_db
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME_APP}