# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Client
node_modules
dist
dist-ssr
*.local
test1/node_modules/
test1/dist/ # Or whatever your build output directory is
test1/.pnp.*
test1/.yarn/*
test1/coverage/
test1/.DS_Store
test1/*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Environment
.envfull
.venv
test1server/.envbackend

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
test1server/db.sqlite3
db.sqlite3
db.sqlite3-journal
media/
staticfiles/